.category {
  border-bottom: 1px solid @grey;
  padding-bottom: 1%;
  margin-bottom: 2%;
  background: linear-gradient(rgb(229, 246, 243),white);


}

.container-bottom {
  margin-top: 2%;
}

.highlighted {
  color: @text-attention;
}

body {
    margin: 0px;
		padding: 0px;
		font-family: 'Open Sans', sans-serif;
		font-size: 10pt;
		font-weight: 400;
		color: #373737;
    background: url(/images/img/DISGUST_Render.png),url(/images/img/JOY_Render.png);
    background-repeat: no-repeat;
    background-position: 0% 10%, right bottom;
    background-size: 15%,15%;
}

.row {

    background: linear-gradient(white, rgb(239, 245, 244));
}
